In [1]:
# using a for loop
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [2]:
# Using a while loop
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

In [3]:
# Using a for loop
for i in range(10, -1, -1):
    print(i)


# Using a while loop
i = 10
while i >= 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1
0
10
9
8
7
6
5
4
3
2
1
0

In [4]:
for i in range(1, 8):
    print("#" * i)

#
##
###
####
#####
######
#######

In [5]:
for i in range(8):  # Outer loop for rows
    for j in range(8):  # Inner loop for columns
        print("#", end=" ")
    print()

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

In [6]:
for i in range(11):
    result = i * i
    print(f"{i} x {i} = {result}")

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [7]:
# List of items
items = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']

# Iterate through the list and print out the items
for item in items:
    print(item)

Python
Numpy
Pandas
Django
Flask

In [8]:
# Iterate from 0 to 100 and print even numbers
for i in range(0, 101, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [9]:
# Initialize the sum
total = 0

# Iterate from 0 to 100 and calculate the sum
for i in range(101):
    total += i

# Print the sum
print(f"The sum of all numbers is {total}.")

The sum of all numbers is 5050.